
<div class="row">
    {% for experience_item in experience_items %}
    <div class="col-12">

        {% if experience_item.experience.id|divisibleby:2  %}
        <!--Card to right-->
            <div class="card" >
        {% else %}
            <!--card to left-->
            <div class="card  md-6 text-right">
        {% endif %}
            <div class="card-body">
               <h3 class="card-title">  <img src="{{ experience_item.image.image.url }}" alt="" width="40" height="40" >
                 {{ experience_item.experience.company_name }}
               </h3>
                {%if not experience_item.experience.termination_date %}
                  from: {{ experience_item.experience.start_date}}          <b>CURRENT</b> 
                {% else %}
                    from: {{ experience_item.experience.start_date}}  -> to:{{experience_item.experience.termination_date}}
                {% endif %}
                <p class="card-text">
                  <h4>    {{ experience_item.experience.job_title }} </h4>
                  {{ experience_item.experience.roll_description }}
                </p>
               <br>
               <hr>
               <br>
               <div class="row" >
                {% for technology in experience_item.technologies%}
                <div class="col-2 text-center" >

                        {{ technology.name}}


                </div>
                {%endfor%}
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
